PORT=8080
NODE_ENV=development
APP_NAME=MA-DevOps-Backend
APP_VERSION=1.0.0
LOG_LEVEL=info

# Database (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=devops_password
DB_NAME=ma_devops_db
